.popup__container {
    position: relative;
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 510px) {
    .popup__container {
        max-width: calc(100vw - 38px);
    }
}