.profile {
    margin: 40px auto 0 auto;
    max-width: 880px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
    .profile {
        margin: 38px auto 0 auto;
        max-width: 500px;
    }
}

@media screen and (max-width: 520px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}