.header__logo {
    margin: 0 auto 0 0;
}

@media screen and (max-width: 920px) {
    .header__logo {
        margin: 0 auto 0 27px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        max-height: 25px;
    }
}