.element__group {
    float: right;
    margin: 30px 20px 30px auto;
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/Group.svg);
    background-color: rgba(255, 255, 255, 1);
    background-size: 22px 19px;
    cursor: pointer;
}

.element__group:hover {
    background-image: url(../../../images/Group\ hover.svg);
}