.form__rectangle {
    margin: 0;
    min-width: 430px;
    border-radius: 10px;
    box-sizing:border-box;
    padding: 34px 36px 37px;
    background: #FFF;
}

@media screen and (max-width: 510px) {
    .form__rectangle {
        min-width: calc(100vw - 80px);
    }
}

@media screen and (max-width: 320px) {
    .form__rectangle {
        padding: 25px 22px;
    }
}