.element {
    position: relative;
    margin: 0;
    max-width: 282px;
    min-height: 362px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 42px;
    grid-template-rows: 1fr 80px;
}

@media screen and (max-width: 920px) {
    .element {
        max-width: calc((100vw - 38px) / 2 - 8.5px);
    }
}

@media screen and (max-width: 620px) {
    .element {
        max-width: calc(100vw - 38px);
    }
}