.element__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 25px auto 25.2px 21px;
    max-width: 219px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}